
.sidetoc {
    width: 130px;
    position: fixed;
    /* The below makes the actual site content appear below the nav menu */
    /* position: sticky; */
    z-index: 1;
    top: 60px;
    bottom: 20px;
    /* top: 0;
    bottom: 0; */
    /* left: 5px; */
    /* left: 0; */
    right: 0;
    background: #eee;
    /* overflow-x: hidden; */
    overflow-x: scroll;
    height: 60dvh;       /* Sets height to 57% of the viewport height; calibrated so it never overlaps the footer - this calibration makes no sense and is heavily dependent on the screensize, so instead just set it to a normal number, e.g., 60  */
    overflow-y: auto;
    padding: 8px 0 8px 0;
}

.sidetoc a {
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #2196F3;
    display: block;
}

.sidetoc a:hover {
    color: #064579;
}


@media screen and (max-height: 450px) {
    .sidetoc {
        padding-top: 15px;
    }

    .sidetoc a {
        font-size: 18px;
    }
}

/* Then get the header id attrs injected into the html header tags. */
