---
layout: default
---
<div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .main {
            margin-left: 140px;
            /* Same width as the sidebar + left position in px */
            font-size: 16px;
            /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        nav {
            display: none !important;
        }

        {% include sidenav.css %}

    </style>

    {% if site.sidebar or site.autosidebar %}
        {% comment %}<div class="sidenav">{% endcomment %}
            {% comment %}{% include sidebar5a.html %}{% endcomment %}
            {% include autosidebar.html %}
        {% comment %}</div>{% endcomment %}
    {% endif %}
    <div class="main">
        <h1 class="page-title">{{ page.title }}</h1>
        {% comment %}<!-- {{ page.content | markdownify }} -->{% endcomment %}
        {{ content | markdownify }}
    </div>

    {% comment %}
    <!-- {% comment %} Block to allow things to be appended in inheriting layouts. {% endcomment %}
    % block after_content %}
    % endblock %} -->
    {% endcomment %}

    {% comment %}{% if page.root? %}{% endif %}{% endcomment %}
    {% comment %}{% if page.url == "/" or page.url == "/index.html" %}{% endif %}
        <div class="main">
            {% if site.debug %}
                <p style="color:green;">Root index page!</p>
            {% endif %}
            {% include index-content-stub.md %}
        </div>
    {% if true %}{% endif %}{% endcomment %}
    <script>
        {% include sidenav.js %}
    </script>
</div>
